<ion-view hide-nav-bar="true" style="

background: #673AB7; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #673AB7 , #512DA8); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #673AB7 , #512DA8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       ">

    <ion-content padding="true" scroll="false" class="auth">
        <div class="container">
            <div class="text-center"><img src="img/logo.png" class="text-center" /></div>
          
        </div>

        <button class="btn waves-effect waves-light button button-balanced button-outline button-block" ng-click="openLogin()" style="border-color:#fff;color:blueviolet;background-color:#fff;font-family:Avenir;line-spacing:0.8rem;">Login</button>
        <button class="btn waves-effect waves-teal button button-light button-outline button-block" ng-click="openRegister()" style="border:1px solid blueviolet;color:blueviolet;background-color:#fff;font-family:Avenir;line-spacing:0.8rem;">Sign Up</button>


    </ion-content>
</ion-view>